html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.8;
	text-align: justify;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
	color: #333;
	margin: 0;
	background-color: #fff;
}
div {
	margin: 0 auto;
}
h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5px;
	letter-spacing: .05em
}
a {
	color: green;
	text-decoration: none;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.menu {
	position: fixed;
    width: 100%;
    z-index: 999;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
.menu .logo {
	padding: .5em 0 .5em 1em;
	display: inline-block;
}
.menu .logo img {
	height: 2.5em;
    vertical-align: middle;
    padding: .2em 1em;
}
.menu ul {
	margin: 0;
	padding: 0;
	float: right;
}
.menu li {
	display: inline-block;
	list-style: none;
	cursor: pointer;
}
.menu li a {
	color: #333;
	text-decoration: none;
	padding: .9em;
	display: inline-block;
}
.menu li a:hover path{
	fill: green;
}
.menu svg {
	height: 1em;
}
.wrapper {
	max-width: 1000px;
    padding: 3em .8em 1em .8em;
}
.single .nav {
	text-align: center;
    font-size: .8em;
	padding-bottom: .5em;
}
.single .nav a {
	text-decoration: none;
	padding: 0 .3em;
}
.single .nav .random {
	padding: 0 3.5em;
}
.single .nav svg{
	height: 1em;
	vertical-align: middle;
}
.single .nav svg path {
	fill: #666;
}
.single .nav a:hover svg path {
	fill: green;
}
.single .content {
	padding: 2em 0;
}
.single .meta {
	border-top: 1px solid #ddd;
	padding: 1em 0;
	font-size: .7em;
}
.meta .date {
	color: #666;
	font-size: .8em;
}
.single .meta .like, .single .meta .dislike, .single .meta .share, .single.list .meta .comments {
	float: right;
	padding-left: 1em;
	cursor: pointer;
	background-color: #fff;
}
.single.list .meta .comments {
	 margin-right: 2em;
	 padding-right: 1em;
	 float:left;
}
.single.list .meta .dislike, .single.list .meta .like {
    float: none;
    display: inline-block;
}
.single.list .meta .dislike{
	padding-left: .5em;
	padding-right: 1em;
}
.single.list .meta .like {
	padding-right: .5em;
}
.single .meta svg {
	width: 1em;
	padding: 0 .1em;
	vertical-align: middle;
}
.single .meta svg path {
	fill: #666;
}
.single .meta .like:not(.disabled):hover svg path {
	fill: green;
}
.single .meta .dislike:not(.disabled):hover svg path {
	fill: DarkRed;
}
.single .meta svg .hover {
	display: none;
}

.single .meta .active svg path {
	display: none;
}
.single .meta .active svg .hover {
	display: inherit;
}
.single .meta .like.active {
	color: green;
}
.single .meta .like.active svg path {
	fill: green;
}
.single .meta .dislike.active {
	color: DarkRed;
}
.single .meta .dislike.active svg path {
	fill: DarkRed;
}

.single .meta .tags {
	margin-top: .5em;
    margin-left: -0.3em;
	clear: both;
}
.single .meta .tags a {
	background-color: rgba(0,0,0,.05);
	border-radius: 1em;
    display: inline-block;
    padding: 0 1em;
	text-decoration: none;
    font-size: .8em;
    color: #333;
}
.single .meta .tags a:hover {
	background-color: rgba(0,0,0,.25);
}

.pagination {
	font-size: .7em;
    padding-top: 4em;
    text-align: center;
}
.pagination > * {
	padding: 0 .3em;
    display: inline-block;
	border: 1px solid green;
	border-radius: 3px;
    margin: 0 .2em;
    min-width: 1.5em;
    text-align: center;
	background: green;
	color: #fff;
}
.pagination > a {
	border-color: #dbe6db;
	background: #f0f5f0;
	color: green;
}
.pagination > a:hover {
	border-color: green;
	background: green;
	color: #fff;
}

.single.list .meta {
    border-top: 0;
    border-bottom: 1px solid #ddd;
    padding: .5em 0;
    line-height: 1em;
	text-align: center;
	height: 0;
}
.single.list .content {
    padding: .5em 0 .5em 0;
}
.single.list {
    margin-top: 4em;
}
.single.list:first-child {
    margin-top: 1.5em;
}
.share-buttons {
	display: flex;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.25);
	z-index: 999;
}
.share-buttons.hide {
	display: none;
}
.share-buttons-box {
	padding: .5em .9em 1em .9em;
	border: 1px solid #ccc;
	background: #fff;
	margin: auto;
}
.share-buttons-box .title {
	font-size: 0.9em;
}
.share-buttons-box .close {
	float: right;
	cursor: pointer;
	color: #666;
	font-size:1.2em;
    line-height: 1em;
}
.share-buttons-box ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.share-buttons-box li {
	list-style: none;
	display: inline-block;
}
.share-buttons-box li a {
	display: inline-block;
    padding: .5em .2em 1em .2em;
}
.share-buttons-box li:first-child a {
	padding-left:0;
}
.share-buttons-box li:last-child a {
	padding-right:0;
}
.share-buttons-box li a img {
	width: 2.5em;
}
.share-buttons-box .share-url-box{
	background: #fafafa;
	border: 1px solid #ccc;
    line-height: 2em;
}
.share-buttons-box input {
	width: 75%;
	border: 0px;
	background: #fafafa;
	padding: .5em 0 .5em .5em;
}
.share-buttons-box input:focus {
    outline-width: 0;
}
.share-buttons-box .share-url-copy {
	font-size: .7em;
    width: 20%;
    text-align: center;
    display: inline-block;
}
